<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stonebridge.tradeflow.system.mapper.SysRoleMapper">

    <!-- 自定义SQL语句可以写在这里 -->
    <resultMap id="RoleMap" type="com.stonebridge.tradeflow.system.entity.SysRole" autoMapping="true">
    </resultMap>

    <!-- 用于select查询公用抽取的列 -->
    <sql id="columns">
        id
        ,role_name,role_code,description,create_time,update_time
    </sql>

    <!-- 自定义分页查询 -->
    <select id="selectRolePage" parameterType="com.stonebridge.tradeflow.system.entity.vo.SysRoleQueryVo" resultMap="RoleMap">
        SELECT id, role_name, role_code, description, create_time, update_time
        FROM sys_role
        <if test="vo.roleName != null and vo.roleName != ''">
            WHERE  role_name LIKE CONCAT('%', #{vo.roleName}, '%')
        </if>
        ORDER BY id ASC
        LIMIT #{vo.pageSize}
        OFFSET #{vo.pageNum}
    </select>
    <select id="findAllRoles" resultMap="RoleMap">
        SELECT id, role_name
        FROM sys_role ORDER BY id ASC
    </select>

</mapper>
